/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
      -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
/* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: .35em .75em .625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
/* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * 1. Prevent padding and border from affecting element width
 * https://goo.gl/pYtbK7
 * 2. Change the default font family in all browsers (opinionated)
 */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  font-family: sans-serif; /* 2 */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0;
}

button {
  background: transparent;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * Allow adding a border to an element by just adding a border-width.
 *
 * By default, the way the browser specifies that an element should have no
 * border is by setting it's border-style to `none` in the user-agent
 * stylesheet.
 *
 * In order to easily add borders to elements by just setting the `border-width`
 * property, we change the default border-style for all elements to `solid`, and
 * use border-width to hide them instead. This way our `border` utilities only
 * need to set the `border-width` property instead of the entire `border`
 * shorthand, making our border utilities much more straightforward to compose.
 *
 * https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: var(--black);
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

/**
 * Temporary reset for a change introduced in Chrome 62 but now reverted.
 *
 * We can remove this when the reversion is in a normal Chrome release.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  border-radius: 0;
}

textarea {
  resize: vertical;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: .5;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: .5;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: inherit;
  opacity: .5;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: .5;
}

button,
[role=button] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

.container {
  width: 100%;
}

:root {
  --transparent: transparent;
  --black: #22292f;
  --white: white;
  --white-50: rgba(255, 255, 255, .5);
  --danger: #e74444;
  --success: #21b978;
  --warning: #ffeb3b;
  --info: #03a9f4;
  --primary: #4099de;
  --primary-dark: #297ec0;
  --primary-70: rgba(64, 153, 222, .7);
  --primary-50: rgba(64, 153, 222, .5);
  --primary-30: rgba(64, 153, 222, .3);
  --primary-10: rgba(64, 153, 222, .1);
  --logo: #252d37;
  --sidebar-icon: #b3c1d1;
  --20: #f6fbff;
  --30: #f4f7fa;
  --40: #eef1f4;
  --50: #e3e7eb;
  --60: #bacad6;
  --70: #b3b9bf;
  --80: #7c858e;
  --90: #3c4b5f;
  --90-half: rgba(40, 54, 61, .5);
  --warning-light: #fefcbf;
  --warning-dark: #b7791f;
  --success-light: #c6f6d5;
  --success-dark: #38a169;
  --danger-light: #fed7d7;
  --danger-dark: #e53e3e;
  --info-light: #bee3f8;
  --info-dark: #3182ce;
}

/* Vue
---------------------------------------------------------------------------- */

[v-cloak] {
  display: none !important;
}

/* Search
---------------------------------------------------------------------------- */

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.search-icon-center {
  top: 8px;
}

/* Content
---------------------------------------------------------------------------- */

.content {
  min-width: 66.25rem;
  width: 100%;
  max-width: calc(100vw - 13.75rem);
}

/* Background Image
---------------------------------------------------------------------------- */

.bg-grad-sidebar {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#7e8ea1), to(#3c4655));
  background-image: linear-gradient(0deg, #7e8ea1 0%, #3c4655 100%);
  background-attachment: fixed;
}

/* Custom Padding
---------------------------------------------------------------------------- */

.pt-header {
  padding-top: 5.75rem;
}

.p-sidebar {
  padding-left: 13.75rem;
}

/* Card Components
---------------------------------------------------------------------------- */

.card {
  background-color: var(--white);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
  border-radius: .5rem;
}

.card-panel {
  height: 150px;
}

.card-refresh {
  padding: .25rem;
  margin-left: auto;
  color: var(--80);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-refresh:hover {
  color: var(--primary);
}

/* Tables
---------------------------------------------------------------------------- */

.table-fixed {
  table-layout: fixed;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table tr:hover td {
  background-color: var(--20);
}

.table th {
  background-color: var(--30);
  font-weight: 800;
  font-size: .75rem;
  color: var(--80);
  text-transform: uppercase;
  border-bottom-width: 2px;
  border-color: var(--50);
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: .75rem;
  padding-right: .75rem;
  letter-spacing: .05em;
  vertical-align: middle;
}

.table td {
  font-weight: 300;
  color: var(--90);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: var(--50);
  padding-left: .75rem;
  padding-right: .75rem;
  vertical-align: middle;
  min-width: 56px;
  height: 3.8125rem;
}

.th-fit,
.td-fit {
  width: 1%;
  white-space: nowrap;
}

/* Forms
---------------------------------------------------------------------------- */

.form-control {
  height: 2.25rem;
  line-height: normal;
}

.form-control-sm {
  height: 2rem;
}

.form-search {
  height: 2.25rem;
  line-height: normal;
  border-color: var(--white);
  padding-left: .75rem;
  padding-right: .75rem;
  color: var(--80);
  border-radius: 9999px;
}

.form-global-search {
  height: 2.25rem;
  line-height: normal;
  height: 2.25rem;
  line-height: normal;
  border-color: var(--white);
  padding-left: .75rem;
  padding-right: .75rem;
  color: var(--80);
  border-radius: 9999px;
  background-color: var(--40);
  border-color: var(--40);
  color: var(--90);
  border-radius: 9999px;
}

.form-search:active,
.form-search:focus,
.form-global-search:active,
.form-global-search:focus {
  background-color: var(--white);
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px var(--primary-50);
          box-shadow: 0 0 0 3px var(--primary-50);
}

.form-input {
  background-color: var(--white);
  border-width: 1px;
  border-color: var(--white);
  padding-left: .75rem;
  padding-right: .75rem;
  color: var(--80);
  border-radius: .5rem;
}

.form-control-focus {
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 3px var(--primary-50) !important;
          box-shadow: 0 0 0 3px var(--primary-50) !important;
}

.form-input:focus,
.form-input:active {
  background-color: var(--white);
  border-radius: .5rem;
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px var(--primary-50);
          box-shadow: 0 0 0 3px var(--primary-50);
}

.form-control-lg {
  height: 3rem;
}

.form-input-bordered {
  background-color: var(--white);
  border-width: 1px;
  border-color: var(--60);
  padding-left: .75rem;
  padding-right: .75rem;
  color: var(--80);
  border-radius: .5rem;
}

.form-input-row {
  background-color: var(--white);
  padding-left: .75rem;
  padding-right: .75rem;
  color: var(--80);
  border: none !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  height: 3rem;
}

.form-select {
  background-color: var(--white);
  border-width: 1px;
  border-color: var(--60);
  padding-left: .75rem;
  padding-right: 2rem;
  border-radius: .5rem;
  color: var(--80);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-repeat: no-repeat;
  background-size: 10px 6px;
  background-position: center right .75rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><path fill="%2335393C" fill-rule="nonzero" d="M8.293.293a1 1 0 0 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4A1 1 0 0 1 1.707.293L5 3.586 8.293.293z"/></svg>');
}

input.form-input:-moz-read-only,
textarea.form-input:-moz-read-only,
.form-input:active:disabled,
.form-input:focus:disabled,
.form-select:active:disabled,
.form-select:focus:disabled {
  box-shadow: none;
}

input.form-input:read-only,
textarea.form-input:read-only,
.form-input:active:disabled,
.form-input:focus:disabled,
.form-select:active:disabled,
.form-select:focus:disabled {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input.form-input:-moz-read-only,
textarea.form-input:-moz-read-only,
.form-input:disabled,
.form-input.disabled,
.form-select:disabled {
  background-color: var(--30);
  cursor: not-allowed;
}

input.form-input:read-only,
textarea.form-input:read-only,
.form-input:disabled,
.form-input.disabled,
.form-select:disabled {
  background-color: var(--30);
  cursor: not-allowed;
}

.\!bg-white {
  background-color: var(--white) !important;
}

.form-select:focus {
  background-color: var(--white);
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px var(--primary-50);
          box-shadow: 0 0 0 3px var(--primary-50);
}

.form-combo {
  background-color: var(--white);
  border-width: 1px;
  border-color: var(--60);
  border-radius: .5rem;
  color: var(--80);
  overflow: hidden;
}

.form-combo-select {
  background-color: var(--white);
  background-color: var(--transparent);
  padding-right: 1rem;
  outline: none;
  background-repeat: no-repeat;
  background-size: 10px 6px;
  background-position: center right .75rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><path fill="#35393C" fill-rule="nonzero" d="M8.293.293a1 1 0 0 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4A1 1 0 0 1 1.707.293L5 3.586 8.293.293z"/></svg>');
}

/* Checkbox
---------------------------------------------------------------------------- */

.checkbox {
  outline: 0;
}

.checkbox:focus {
  -webkit-box-shadow: 0 0 0 3px var(--primary-50);
          box-shadow: 0 0 0 3px var(--primary-50);
}

/* Boolean
---------------------------------------------------------------------------- */

.boolean-field {
  height: 0px !important;
  font-weight: bold;
}

.boolean-field-false:before {
  content: '\D7';
  color: var(--danger);
  font-size: 125%;
  margin-top: -7px !important;
}

.boolean-field-true:before {
  content: '\2713';
  color: var(--success);
}

/* File Upload
---------------------------------------------------------------------------- */

.form-file {
  position: relative;
}

.form-file-btn {
}

.form-file-input {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: .1px;
  height: .1px;
  z-index: -1;
}

.form-file-input:focus + .form-file-btn,
.form-file-input + .form-file-btn:hover {
  background-color: var(--primary-dark);
  cursor: pointer;
}

.form-file-input:focus + .form-file-btn {
  outline: none;
  -webkit-box-shadow: 0 0 8px var(--primary);
          box-shadow: 0 0 8px var(--primary);
}

/* Buttons
---------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 800;
}

.btn-text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.btn-default {
  height: 2.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 2.25rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
  text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.btn-disabled,
.btn[disabled] {
  cursor: not-allowed;
  opacity: .5;
}

.btn-disabled:focus {
  outline: none;
}

.btn-default:not([disabled]):not(.btn-disabled):focus,
.btn-default:not([disabled]):not(.btn-disabled):active {
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px var(--primary-50);
          box-shadow: 0 0 0 3px var(--primary-50);
}

.btn-sm {
  height: 1.875rem;
}

.btn-lg {
  height: 3rem;
  line-height: 3rem;
  font-size: 1.125rem;
}

.btn-link {
  background-color: var(--transparent);
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

.btn-link:focus,
.btn-link:active {
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px var(--primary-50);
          box-shadow: 0 0 0 3px var(--primary-50);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary:not([disabled]):not(.btn-disabled):hover {
  background-color: var(--primary-dark);
}

.btn-danger {
  background-color: var(--danger);
  color: var(--white);
}

.btn-outline {
  border-width: 1px;
  border-width: 2px;
  border-color: var(--primary-30);
  border-radius: .25rem;
  padding-left: .75rem;
  padding-right: .75rem;
  color: var(--primary);
  font-weight: 600;
}

.btn-outline:hover {
  border-color: var(--primary);
}

.btn-icon {
  padding-left: 1rem;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-white {
  background-color: var(--white);
}

.btn-icon:hover {
  opacity: .75;
}

.no-text-shadow {
  text-shadow: none;
}

/* Links
---------------------------------------------------------------------------- */

.default-link {
}

.default-link:active,
.default-link:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px var(--primary-50);
          box-shadow: 0 0 0 3px var(--primary-50);
}

.inline-link {
  color: var(--primary);
  font-size: .875rem;
  font-weight: 800;
  text-decoration: none;
}

.inline-separator {
  color: var(--80);
  padding-left: .25rem;
  padding-right: .25rem;
}

/* Dropdown
---------------------------------------------------------------------------- */

.dropdown {
}

.dropdown-menu-left {
  top: 2.5rem;
  left: 0rem;
}

.dropdown-menu-right {
  top: 2.5rem;
  right: 0rem;
}

.dropdown-right {
  right: 20px;
}

.dropdown-alt .dropdown-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.25rem;
  padding-left: .75rem;
  padding-right: .75rem;
  background-color: var(--40);
  border-radius: .25rem;
}

.dropdown-trigger-active .dropdown-trigger {
  background-color: var(--50);
}

/* Sidebar
---------------------------------------------------------------------------- */

.sidebar-link {
}

.router-link-active {
  font-weight: 800 !important;
}

.sidebar-icon {
  margin-right: .75rem;
  width: 1.25rem;
  height: 1.25rem;
}

/* Fade Transition
---------------------------------------------------------------------------- */

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .15s;
  transition: opacity .15s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* Default Hover/Active
---------------------------------------------------------------------------- */

.default-hover:hover,
.default-hover:focus {
  opacity: .5;
}

.default-active:active {
  opacity: .8;
}

/* Dim links
---------------------------------------------------------------------------- */

.dim:hover,
.dim:active {
  opacity: .5;
}

.dim:active {
  opacity: .8;
}

/*.dim-child {
    &:hover .dim-target,
    &:focus .dim-target {
        opacity: 0.5;
    }

    &:active .dim-target {
        opacity: 0.8;
    }
}
*/

/* Reveal Helper
---------------------------------------------------------------------------- */

.reveal .reveal-target {
  opacity: 0;
}

.reveal:active .reveal-target,
.reveal:hover .reveal-target {
  opacity: 1;
}

/* MultiSelect Component
---------------------------------------------------------------------------- */

.select-box {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><path fill="#35393C" fill-rule="nonzero" d="M8.293.293a1 1 0 0 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4A1 1 0 0 1 1.707.293L5 3.586 8.293.293z"/></svg>');
  background-size: 10px 6px;
  background-repeat: no-repeat;
  background-position: center right .75rem;
}

/* Rotate
---------------------------------------------------------------------------- */

.rotate-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Remove the last border on a panel-item component
---------------------------------------------------------------------------- */

.remove-bottom-border {
  border-bottom: none;
}

/* Markdown Field
---------------------------------------------------------------------------- */

.remove-last-margin-bottom :last-child {
  margin-bottom: 0;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: 600;
  color: var(--90);
  margin-bottom: 20px;
}

.markdown h1 {
  font-size: 1.5rem;
  color: var(--80);
}

.markdown h2 {
  font-size: 1.25rem;
  font-weight: 400;
}

.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-size: 1.125rem;
}

.markdown p {
  font-size: 1rem;
  color: var(--90);
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.markdown blockquote {
  background-color: #f5f5f5;
  padding: 5px 15px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 1rem;
}

.markdown blockquote > p {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 1rem;
}

.markdown blockquote p code {
  background-color: #e5e5e5;
}

.markdown ul,
.markdown ol {
  margin: 20px 0 20px;
}

.markdown ul {
  list-style: disc inside;
}

.markdown ol {
  list-style: decimal inside;
}

.markdown li {
  font-size: 1rem;
  line-height: 1.7;
  color: #666;
}

.markdown a {
  color: blue;
}

.markdown table {
  width: 100%;
  margin-bottom: 1.5rem;
}

.markdown table thead {
}

.markdown table thead th {
  text-align: left;
  font-size: 1rem;
  border-bottom-width: 1px;
  border-color: var(--50);
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.markdown table tbody {
}

.markdown table tbody td {
  text-align: left;
  font-size: 1rem;
  border-bottom-width: 1px;
  border-color: var(--50);
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.markdown pre {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 4px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.markdown pre > code {
  font-family: Menlo, monospace, fixed;
  font-size: 14px;
  background-color: transparent;
  color: #555;
  line-height: 1.5;
  word-break: normal;
  word-spacing: normal;
  white-space: pre;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  direction: ltr;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  padding: 0 1rem;
}

.markdown code {
  background-color: rgba(0, 0, 0, .05);
  padding: .3rem .5rem;
  font-size: 14px;
  border-radius: 3px;
  font-family: Menlo, monospace, fixed;
}

/* Markdown Preview Field
---------------------------------------------------------------------------- */

.markdown-preview {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
  color: var(--90) !important;
  font-size: .875rem !important;
}

.markdown-preview h1,
.markdown-preview h2,
.markdown-preview h3,
.markdown-preview h4,
.markdown-preview h5,
.markdown-preview h6 {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: .875rem;
  margin-bottom: .75rem;
}

.markdown-preview p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.markdown-preview blockquote {
  margin-bottom: 1rem;
}

.markdown-preview blockquote > p {
  margin-top: 10px;
  margin-bottom: 1rem;
}

.markdown-preview ul,
.markdown-preview ol {
  margin: 20px 0 20px;
}

.markdown-preview ul {
  list-style: disc inside;
}

.markdown-preview ol {
  list-style: decimal inside;
}

.markdown-preview pre {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Chartist
-----------------------------------------------------------------------------*/

.chartist-tooltip {
  min-width: 0 !important;
  white-space: nowrap;
  padding: .2em 1em !important;
  background: var(--white) !important;
  color: var(--primary) !important;
  border-radius: .25rem !important;
  border-width: 1px !important;
  border-color: var(--60) !important;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05) !important;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05) !important;
  font-family: Nunito, system-ui, BlinkMacSystemFont, -apple-system, sans-serif !important;
}

.chartist-tooltip:before {
  display: none;
  border-top-color: var(--white) !important;
}

/* Vertical Center
-----------------------------------------------------------------------------*/

.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
          transform: perspective(1px) translateY(-50%);
}

/* Override Form Field Widths For ConfirmActionModal
-----------------------------------------------------------------------------*/

.action .w-1\/5 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.action .w-1\/2 {
  width: 100%;
}

/* Override Form Field Widths For ConfirmActionModal
-----------------------------------------------------------------------------*/

.toasted-container.top-center {
  top: 30px !important;
}

.nova {
  color: var(--white);
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.toasted.default {
  background-color: var(--primary);
  color: var(--white);
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.toasted.success {
  background-color: var(--success);
  color: var(--white);
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.toasted.error {
  background-color: var(--danger);
  color: var(--white);
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.toasted.info {
  background-color: var(--info);
  color: var(--white);
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.nova-action {
  color: var(--white);
  padding-top: 0;
  padding-bottom: 0;
}

.toasted .action {
  color: var(--white) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* Spin Animation
---------------------------------------------------------------------------- */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.spin {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

/* Error Pages
---------------------------------------------------------------------------- */

.text-error-title {
  font-size: 9rem;
}

.text-error-subtitle {
  font-size: 2.25rem;
}

.text-error-message {
  font-size: 1.25rem;
  color: #56677b;
}

.illustration {
  margin-right: 7.5rem;
}

/* Help Text
---------------------------------------------------------------------------- */

.help-text {
  font-size: .75rem;
  line-height: 1.5;
  color: var(--80);
  font-style: italic;
}

.help-text a {
  color: var(--primary);
  text-decoration: none;
}

/* Charts
---------------------------------------------------------------------------- */

/* Partition Metric */

.ct-series-a .ct-area,
.ct-series-a .ct-slice-donut-solid,
.ct-series-a .ct-slice-pie {
  fill: #f5573b !important;
}

.ct-series-b .ct-area,
.ct-series-b .ct-slice-donut-solid,
.ct-series-b .ct-slice-pie {
  fill: #f99037 !important;
}

.ct-series-c .ct-area,
.ct-series-c .ct-slice-donut-solid,
.ct-series-c .ct-slice-pie {
  fill: #f2cb22 !important;
}

.ct-series-d .ct-area,
.ct-series-d .ct-slice-donut-solid,
.ct-series-d .ct-slice-pie {
  fill: #8fc15d !important;
}

.ct-series-e .ct-area,
.ct-series-e .ct-slice-donut-solid,
.ct-series-e .ct-slice-pie {
  fill: #098f56 !important;
}

.ct-series-f .ct-area,
.ct-series-f .ct-slice-donut-solid,
.ct-series-f .ct-slice-pie {
  fill: #47c1bf !important;
}

.ct-series-g .ct-area,
.ct-series-g .ct-slice-donut-solid,
.ct-series-g .ct-slice-pie {
  fill: #1693eb !important;
}

.ct-series-h .ct-area,
.ct-series-h .ct-slice-donut-solid,
.ct-series-h .ct-slice-pie {
  fill: #6474d7 !important;
}

.ct-series-i .ct-area,
.ct-series-i .ct-slice-donut-solid,
.ct-series-i .ct-slice-pie {
  fill: #9c6ade !important;
}

.ct-series-j .ct-area,
.ct-series-j .ct-slice-donut-solid,
.ct-series-j .ct-slice-pie {
  fill: #e471de !important;
}

/*Trend Metric*/

.full {
  top: 20%;
}

.half {
  top: 60%;
}

.ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: var(--primary-70) !important;
  stroke-width: 2px;
}

.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
  fill: var(--primary-50) !important;
}

.ct-point {
  stroke: var(--primary) !important;
  stroke-width: 6px !important;
}

/* Trix
---------------------------------------------------------------------------- */

trix-editor {
  border-radius: .5rem;
}

.disabled trix-editor,
.disabled trix-toolbar {
  pointer-events: none;
}

.disabled trix-editor {
  background-color: var(--30);
}

.disabled trix-toolbar {
  display: none !important;
}

trix-editor:empty:not(:focus)::before {
  color: var(--70);
}

trix-editor.disabled {
  pointer-events: none;
}

/* Background Clip
---------------------------------------------------------------------------- */

.bg-clip {
  background-clip: border-box;
  /* -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; */
}

/* Cursor
---------------------------------------------------------------------------- */

.cursor-text {
  cursor: text;
}

/* KeyValue
---------------------------------------------------------------------------- */

.key-value-items:last-child {
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  background-clip: border-box;
  /* -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; */
  border-bottom-width: 0;
}

.key-value-items .key-value-item:last-child > .key-value-fields {
  border-bottom: none;
}

/* Tailwind Utilities
---------------------------------------------------------------------------- */

.list-reset {
  list-style: none;
  padding: 0;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-local {
  background-attachment: local;
}

.bg-scroll {
  background-attachment: scroll;
}

.bg-20 {
  background-color: var(--20);
}

.bg-30 {
  background-color: var(--30);
}

.bg-40 {
  background-color: var(--40);
}

.bg-50 {
  background-color: var(--50);
}

.bg-60 {
  background-color: var(--60);
}

.bg-70 {
  background-color: var(--70);
}

.bg-80 {
  background-color: var(--80);
}

.bg-90 {
  background-color: var(--90);
}

.bg-black {
  background-color: var(--black);
}

.bg-transparent {
  background-color: var(--transparent);
}

.bg-white {
  background-color: var(--white);
}

.bg-white-50\% {
  background-color: var(--white-50);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-primary-70\% {
  background-color: var(--primary-70);
}

.bg-primary-50\% {
  background-color: var(--primary-50);
}

.bg-primary-30\% {
  background-color: var(--primary-30);
}

.bg-primary-10\% {
  background-color: var(--primary-10);
}

.bg-sidebar-icon {
  background-color: var(--sidebar-icon);
}

.bg-logo {
  background-color: var(--logo);
}

.bg-info {
  background-color: var(--info);
}

.bg-danger {
  background-color: var(--danger);
}

.bg-warning {
  background-color: var(--warning);
}

.bg-success {
  background-color: var(--success);
}

.bg-90-half {
  background-color: var(--90-half);
}

.bg-warning-light {
  background-color: var(--warning-light);
}

.bg-warning-dark {
  background-color: var(--warning-dark);
}

.bg-success-light {
  background-color: var(--success-light);
}

.bg-success-dark {
  background-color: var(--success-dark);
}

.bg-danger-light {
  background-color: var(--danger-light);
}

.bg-danger-dark {
  background-color: var(--danger-dark);
}

.bg-info-light {
  background-color: var(--info-light);
}

.bg-info-dark {
  background-color: var(--info-dark);
}

.hover\:bg-20:hover {
  background-color: var(--20);
}

.hover\:bg-30:hover {
  background-color: var(--30);
}

.hover\:bg-40:hover {
  background-color: var(--40);
}

.hover\:bg-50:hover {
  background-color: var(--50);
}

.hover\:bg-60:hover {
  background-color: var(--60);
}

.hover\:bg-70:hover {
  background-color: var(--70);
}

.hover\:bg-80:hover {
  background-color: var(--80);
}

.hover\:bg-90:hover {
  background-color: var(--90);
}

.hover\:bg-black:hover {
  background-color: var(--black);
}

.hover\:bg-transparent:hover {
  background-color: var(--transparent);
}

.hover\:bg-white:hover {
  background-color: var(--white);
}

.hover\:bg-white-50\%:hover {
  background-color: var(--white-50);
}

.hover\:bg-primary:hover {
  background-color: var(--primary);
}

.hover\:bg-primary-dark:hover {
  background-color: var(--primary-dark);
}

.hover\:bg-primary-70\%:hover {
  background-color: var(--primary-70);
}

.hover\:bg-primary-50\%:hover {
  background-color: var(--primary-50);
}

.hover\:bg-primary-30\%:hover {
  background-color: var(--primary-30);
}

.hover\:bg-primary-10\%:hover {
  background-color: var(--primary-10);
}

.hover\:bg-sidebar-icon:hover {
  background-color: var(--sidebar-icon);
}

.hover\:bg-logo:hover {
  background-color: var(--logo);
}

.hover\:bg-info:hover {
  background-color: var(--info);
}

.hover\:bg-danger:hover {
  background-color: var(--danger);
}

.hover\:bg-warning:hover {
  background-color: var(--warning);
}

.hover\:bg-success:hover {
  background-color: var(--success);
}

.hover\:bg-90-half:hover {
  background-color: var(--90-half);
}

.hover\:bg-warning-light:hover {
  background-color: var(--warning-light);
}

.hover\:bg-warning-dark:hover {
  background-color: var(--warning-dark);
}

.hover\:bg-success-light:hover {
  background-color: var(--success-light);
}

.hover\:bg-success-dark:hover {
  background-color: var(--success-dark);
}

.hover\:bg-danger-light:hover {
  background-color: var(--danger-light);
}

.hover\:bg-danger-dark:hover {
  background-color: var(--danger-dark);
}

.hover\:bg-info-light:hover {
  background-color: var(--info-light);
}

.hover\:bg-info-dark:hover {
  background-color: var(--info-dark);
}

.focus\:bg-20:focus {
  background-color: var(--20);
}

.focus\:bg-30:focus {
  background-color: var(--30);
}

.focus\:bg-40:focus {
  background-color: var(--40);
}

.focus\:bg-50:focus {
  background-color: var(--50);
}

.focus\:bg-60:focus {
  background-color: var(--60);
}

.focus\:bg-70:focus {
  background-color: var(--70);
}

.focus\:bg-80:focus {
  background-color: var(--80);
}

.focus\:bg-90:focus {
  background-color: var(--90);
}

.focus\:bg-black:focus {
  background-color: var(--black);
}

.focus\:bg-transparent:focus {
  background-color: var(--transparent);
}

.focus\:bg-white:focus {
  background-color: var(--white);
}

.focus\:bg-white-50\%:focus {
  background-color: var(--white-50);
}

.focus\:bg-primary:focus {
  background-color: var(--primary);
}

.focus\:bg-primary-dark:focus {
  background-color: var(--primary-dark);
}

.focus\:bg-primary-70\%:focus {
  background-color: var(--primary-70);
}

.focus\:bg-primary-50\%:focus {
  background-color: var(--primary-50);
}

.focus\:bg-primary-30\%:focus {
  background-color: var(--primary-30);
}

.focus\:bg-primary-10\%:focus {
  background-color: var(--primary-10);
}

.focus\:bg-sidebar-icon:focus {
  background-color: var(--sidebar-icon);
}

.focus\:bg-logo:focus {
  background-color: var(--logo);
}

.focus\:bg-info:focus {
  background-color: var(--info);
}

.focus\:bg-danger:focus {
  background-color: var(--danger);
}

.focus\:bg-warning:focus {
  background-color: var(--warning);
}

.focus\:bg-success:focus {
  background-color: var(--success);
}

.focus\:bg-90-half:focus {
  background-color: var(--90-half);
}

.focus\:bg-warning-light:focus {
  background-color: var(--warning-light);
}

.focus\:bg-warning-dark:focus {
  background-color: var(--warning-dark);
}

.focus\:bg-success-light:focus {
  background-color: var(--success-light);
}

.focus\:bg-success-dark:focus {
  background-color: var(--success-dark);
}

.focus\:bg-danger-light:focus {
  background-color: var(--danger-light);
}

.focus\:bg-danger-dark:focus {
  background-color: var(--danger-dark);
}

.focus\:bg-info-light:focus {
  background-color: var(--info-light);
}

.focus\:bg-info-dark:focus {
  background-color: var(--info-dark);
}

.active\:bg-20:active {
  background-color: var(--20);
}

.active\:bg-30:active {
  background-color: var(--30);
}

.active\:bg-40:active {
  background-color: var(--40);
}

.active\:bg-50:active {
  background-color: var(--50);
}

.active\:bg-60:active {
  background-color: var(--60);
}

.active\:bg-70:active {
  background-color: var(--70);
}

.active\:bg-80:active {
  background-color: var(--80);
}

.active\:bg-90:active {
  background-color: var(--90);
}

.active\:bg-black:active {
  background-color: var(--black);
}

.active\:bg-transparent:active {
  background-color: var(--transparent);
}

.active\:bg-white:active {
  background-color: var(--white);
}

.active\:bg-white-50\%:active {
  background-color: var(--white-50);
}

.active\:bg-primary:active {
  background-color: var(--primary);
}

.active\:bg-primary-dark:active {
  background-color: var(--primary-dark);
}

.active\:bg-primary-70\%:active {
  background-color: var(--primary-70);
}

.active\:bg-primary-50\%:active {
  background-color: var(--primary-50);
}

.active\:bg-primary-30\%:active {
  background-color: var(--primary-30);
}

.active\:bg-primary-10\%:active {
  background-color: var(--primary-10);
}

.active\:bg-sidebar-icon:active {
  background-color: var(--sidebar-icon);
}

.active\:bg-logo:active {
  background-color: var(--logo);
}

.active\:bg-info:active {
  background-color: var(--info);
}

.active\:bg-danger:active {
  background-color: var(--danger);
}

.active\:bg-warning:active {
  background-color: var(--warning);
}

.active\:bg-success:active {
  background-color: var(--success);
}

.active\:bg-90-half:active {
  background-color: var(--90-half);
}

.active\:bg-warning-light:active {
  background-color: var(--warning-light);
}

.active\:bg-warning-dark:active {
  background-color: var(--warning-dark);
}

.active\:bg-success-light:active {
  background-color: var(--success-light);
}

.active\:bg-success-dark:active {
  background-color: var(--success-dark);
}

.active\:bg-danger-light:active {
  background-color: var(--danger-light);
}

.active\:bg-danger-dark:active {
  background-color: var(--danger-dark);
}

.active\:bg-info-light:active {
  background-color: var(--info-light);
}

.active\:bg-info-dark:active {
  background-color: var(--info-dark);
}

.bg-bottom {
  background-position: bottom;
}

.bg-center {
  background-position: center;
}

.bg-left {
  background-position: left;
}

.bg-left-bottom {
  background-position: left bottom;
}

.bg-left-top {
  background-position: left top;
}

.bg-right {
  background-position: right;
}

.bg-right-bottom {
  background-position: right bottom;
}

.bg-right-top {
  background-position: right top;
}

.bg-top {
  background-position: top;
}

.bg-repeat {
  background-repeat: repeat;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-auto {
  background-size: auto;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.border-collapse {
  border-collapse: collapse;
}

.border-separate {
  border-collapse: separate;
}

.border-20 {
  border-color: var(--20);
}

.border-30 {
  border-color: var(--30);
}

.border-40 {
  border-color: var(--40);
}

.border-50 {
  border-color: var(--50);
}

.border-60 {
  border-color: var(--60);
}

.border-70 {
  border-color: var(--70);
}

.border-80 {
  border-color: var(--80);
}

.border-90 {
  border-color: var(--90);
}

.border-black {
  border-color: var(--black);
}

.border-transparent {
  border-color: var(--transparent);
}

.border-white {
  border-color: var(--white);
}

.border-white-50\% {
  border-color: var(--white-50);
}

.border-primary {
  border-color: var(--primary);
}

.border-primary-dark {
  border-color: var(--primary-dark);
}

.border-primary-70\% {
  border-color: var(--primary-70);
}

.border-primary-50\% {
  border-color: var(--primary-50);
}

.border-primary-30\% {
  border-color: var(--primary-30);
}

.border-primary-10\% {
  border-color: var(--primary-10);
}

.border-sidebar-icon {
  border-color: var(--sidebar-icon);
}

.border-logo {
  border-color: var(--logo);
}

.border-info {
  border-color: var(--info);
}

.border-danger {
  border-color: var(--danger);
}

.border-warning {
  border-color: var(--warning);
}

.border-success {
  border-color: var(--success);
}

.border-90-half {
  border-color: var(--90-half);
}

.border-warning-light {
  border-color: var(--warning-light);
}

.border-warning-dark {
  border-color: var(--warning-dark);
}

.border-success-light {
  border-color: var(--success-light);
}

.border-success-dark {
  border-color: var(--success-dark);
}

.border-danger-light {
  border-color: var(--danger-light);
}

.border-danger-dark {
  border-color: var(--danger-dark);
}

.border-info-light {
  border-color: var(--info-light);
}

.border-info-dark {
  border-color: var(--info-dark);
}

.hover\:border-20:hover {
  border-color: var(--20);
}

.hover\:border-30:hover {
  border-color: var(--30);
}

.hover\:border-40:hover {
  border-color: var(--40);
}

.hover\:border-50:hover {
  border-color: var(--50);
}

.hover\:border-60:hover {
  border-color: var(--60);
}

.hover\:border-70:hover {
  border-color: var(--70);
}

.hover\:border-80:hover {
  border-color: var(--80);
}

.hover\:border-90:hover {
  border-color: var(--90);
}

.hover\:border-black:hover {
  border-color: var(--black);
}

.hover\:border-transparent:hover {
  border-color: var(--transparent);
}

.hover\:border-white:hover {
  border-color: var(--white);
}

.hover\:border-white-50\%:hover {
  border-color: var(--white-50);
}

.hover\:border-primary:hover {
  border-color: var(--primary);
}

.hover\:border-primary-dark:hover {
  border-color: var(--primary-dark);
}

.hover\:border-primary-70\%:hover {
  border-color: var(--primary-70);
}

.hover\:border-primary-50\%:hover {
  border-color: var(--primary-50);
}

.hover\:border-primary-30\%:hover {
  border-color: var(--primary-30);
}

.hover\:border-primary-10\%:hover {
  border-color: var(--primary-10);
}

.hover\:border-sidebar-icon:hover {
  border-color: var(--sidebar-icon);
}

.hover\:border-logo:hover {
  border-color: var(--logo);
}

.hover\:border-info:hover {
  border-color: var(--info);
}

.hover\:border-danger:hover {
  border-color: var(--danger);
}

.hover\:border-warning:hover {
  border-color: var(--warning);
}

.hover\:border-success:hover {
  border-color: var(--success);
}

.hover\:border-90-half:hover {
  border-color: var(--90-half);
}

.hover\:border-warning-light:hover {
  border-color: var(--warning-light);
}

.hover\:border-warning-dark:hover {
  border-color: var(--warning-dark);
}

.hover\:border-success-light:hover {
  border-color: var(--success-light);
}

.hover\:border-success-dark:hover {
  border-color: var(--success-dark);
}

.hover\:border-danger-light:hover {
  border-color: var(--danger-light);
}

.hover\:border-danger-dark:hover {
  border-color: var(--danger-dark);
}

.hover\:border-info-light:hover {
  border-color: var(--info-light);
}

.hover\:border-info-dark:hover {
  border-color: var(--info-dark);
}

.rounded-none {
  border-radius: 0;
}

.rounded-sm {
  border-radius: .125rem;
}

.rounded {
  border-radius: .25rem;
}

.rounded-lg {
  border-radius: .5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-t-none {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rounded-r-none {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rounded-b-none {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.rounded-l-none {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rounded-t-sm {
  border-top-left-radius: .125rem;
  border-top-right-radius: .125rem;
}

.rounded-r-sm {
  border-top-right-radius: .125rem;
  border-bottom-right-radius: .125rem;
}

.rounded-b-sm {
  border-bottom-right-radius: .125rem;
  border-bottom-left-radius: .125rem;
}

.rounded-l-sm {
  border-top-left-radius: .125rem;
  border-bottom-left-radius: .125rem;
}

.rounded-t {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.rounded-r {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.rounded-b {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.rounded-l {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.rounded-t-lg {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.rounded-r-lg {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.rounded-b-lg {
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.rounded-l-lg {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.rounded-t-full {
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

.rounded-r-full {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.rounded-b-full {
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.rounded-l-full {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.rounded-tl-none {
  border-top-left-radius: 0;
}

.rounded-tr-none {
  border-top-right-radius: 0;
}

.rounded-br-none {
  border-bottom-right-radius: 0;
}

.rounded-bl-none {
  border-bottom-left-radius: 0;
}

.rounded-tl-sm {
  border-top-left-radius: .125rem;
}

.rounded-tr-sm {
  border-top-right-radius: .125rem;
}

.rounded-br-sm {
  border-bottom-right-radius: .125rem;
}

.rounded-bl-sm {
  border-bottom-left-radius: .125rem;
}

.rounded-tl {
  border-top-left-radius: .25rem;
}

.rounded-tr {
  border-top-right-radius: .25rem;
}

.rounded-br {
  border-bottom-right-radius: .25rem;
}

.rounded-bl {
  border-bottom-left-radius: .25rem;
}

.rounded-tl-lg {
  border-top-left-radius: .5rem;
}

.rounded-tr-lg {
  border-top-right-radius: .5rem;
}

.rounded-br-lg {
  border-bottom-right-radius: .5rem;
}

.rounded-bl-lg {
  border-bottom-left-radius: .5rem;
}

.rounded-tl-full {
  border-top-left-radius: 9999px;
}

.rounded-tr-full {
  border-top-right-radius: 9999px;
}

.rounded-br-full {
  border-bottom-right-radius: 9999px;
}

.rounded-bl-full {
  border-bottom-left-radius: 9999px;
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-none {
  border-style: none;
}

.border-0 {
  border-width: 0;
}

.border-2 {
  border-width: 2px;
}

.border-4 {
  border-width: 4px;
}

.border-8 {
  border-width: 8px;
}

.border {
  border-width: 1px;
}

.border-t-0 {
  border-top-width: 0;
}

.border-r-0 {
  border-right-width: 0;
}

.border-b-0 {
  border-bottom-width: 0;
}

.border-l-0 {
  border-left-width: 0;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-r-2 {
  border-right-width: 2px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-l-2 {
  border-left-width: 2px;
}

.border-t-4 {
  border-top-width: 4px;
}

.border-r-4 {
  border-right-width: 4px;
}

.border-b-4 {
  border-bottom-width: 4px;
}

.border-l-4 {
  border-left-width: 4px;
}

.border-t-8 {
  border-top-width: 8px;
}

.border-r-8 {
  border-right-width: 8px;
}

.border-b-8 {
  border-bottom-width: 8px;
}

.border-l-8 {
  border-left-width: 8px;
}

.border-t {
  border-top-width: 1px;
}

.border-r {
  border-right-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.cursor-auto {
  cursor: auto;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-wait {
  cursor: wait;
}

.cursor-move {
  cursor: move;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.hidden {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.flex-no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.self-auto {
  -ms-flex-item-align: auto;
      align-self: auto;
}

.self-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.self-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.self-stretch {
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.content-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.flex-initial {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
}

.flex-none {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-shrink {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.flex-no-grow {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.flex-no-shrink {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-none {
  float: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.font-sans {
  font-family: Nunito, system-ui, BlinkMacSystemFont, -apple-system, sans-serif;
}

.font-mono {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.font-hairline {
  font-weight: 200;
}

.font-thin {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 800;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 800;
}

.hover\:font-hairline:hover {
  font-weight: 200;
}

.hover\:font-thin:hover {
  font-weight: 200;
}

.hover\:font-light:hover {
  font-weight: 300;
}

.hover\:font-normal:hover {
  font-weight: 400;
}

.hover\:font-medium:hover {
  font-weight: 400;
}

.hover\:font-semibold:hover {
  font-weight: 600;
}

.hover\:font-bold:hover {
  font-weight: 800;
}

.hover\:font-extrabold:hover {
  font-weight: 800;
}

.hover\:font-black:hover {
  font-weight: 800;
}

.h-2 {
  height: .5rem;
}

.h-3 {
  height: .75rem;
}

.h-4 {
  height: 1rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-12 {
  height: 3rem;
}

.h-auto {
  height: auto;
}

.h-px {
  height: 1px;
}

.h-editor-icon {
  height: .95rem;
}

.h-dropdown-trigger {
  height: 2.25rem;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.h-header {
  height: 3.75rem;
}

.h-btn-sm {
  height: 1.875rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.leading-12 {
  line-height: 3rem;
}

.leading-36 {
  line-height: 2.25rem;
}

.leading-none {
  line-height: 1;
}

.leading-tight {
  line-height: 1.25;
}

.leading-normal {
  line-height: 1.5;
}

.leading-loose {
  line-height: 2;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: .25rem;
}

.m-2 {
  margin: .5rem;
}

.m-3 {
  margin: .75rem;
}

.m-4 {
  margin: 1rem;
}

.m-6 {
  margin: 1.5rem;
}

.m-8 {
  margin: 2rem;
}

.m-11 {
  margin: 2.75rem;
}

.m-auto {
  margin: auto;
}

.m-px {
  margin: 1px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-1 {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.mx-1 {
  margin-left: .25rem;
  margin-right: .25rem;
}

.my-2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.mx-2 {
  margin-left: .5rem;
  margin-right: .5rem;
}

.my-3 {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.mx-3 {
  margin-left: .75rem;
  margin-right: .75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-11 {
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
}

.mx-11 {
  margin-left: 2.75rem;
  margin-right: 2.75rem;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-px {
  margin-top: 1px;
  margin-bottom: 1px;
}

.mx-px {
  margin-left: 1px;
  margin-right: 1px;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mt-1 {
  margin-top: .25rem;
}

.mr-1 {
  margin-right: .25rem;
}

.mb-1 {
  margin-bottom: .25rem;
}

.ml-1 {
  margin-left: .25rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.ml-2 {
  margin-left: .5rem;
}

.mt-3 {
  margin-top: .75rem;
}

.mr-3 {
  margin-right: .75rem;
}

.mb-3 {
  margin-bottom: .75rem;
}

.ml-3 {
  margin-left: .75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mr-11 {
  margin-right: 2.75rem;
}

.mb-11 {
  margin-bottom: 2.75rem;
}

.ml-11 {
  margin-left: 2.75rem;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mt-px {
  margin-top: 1px;
}

.mr-px {
  margin-right: 1px;
}

.mb-px {
  margin-bottom: 1px;
}

.ml-px {
  margin-left: 1px;
}

.max-h-full {
  max-height: 100%;
}

.max-h-screen {
  max-height: 100vh;
}

.max-h-search {
  max-height: 24.5rem;
}

.max-h-90px {
  max-height: 5.625rem;
}

.max-w-8 {
  max-width: 2rem;
}

.max-w-login {
  max-width: 25rem;
}

.max-w-xs {
  max-width: 20rem;
}

.max-w-sm {
  max-width: 30rem;
}

.max-w-md {
  max-width: 40rem;
}

.max-w-lg {
  max-width: 50rem;
}

.max-w-xl {
  max-width: 60rem;
}

.max-w-2xl {
  max-width: 70rem;
}

.max-w-3xl {
  max-width: 80rem;
}

.max-w-4xl {
  max-width: 90rem;
}

.max-w-5xl {
  max-width: 100rem;
}

.max-w-full {
  max-width: 100%;
}

.max-w-main {
  max-width: 58.75rem;
}

.min-h-0 {
  min-height: 0;
}

.min-h-input {
  min-height: 3rem;
}

.min-h-textarea {
  min-height: 4.875rem;
}

.min-h-full {
  min-height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.min-w-0 {
  min-width: 0;
}

.min-w-8 {
  min-width: 2rem;
}

.min-w-9 {
  min-width: 2.25rem;
}

.min-w-24 {
  min-width: 6rem;
}

.min-w-site {
  min-width: 80rem;
}

.min-w-full {
  min-width: 100%;
}

.min-w-table-cell {
  min-width: 56px;
}

.-m-0 {
  margin: 0;
}

.-m-1 {
  margin: -0.25rem;
}

.-m-2 {
  margin: -0.5rem;
}

.-m-3 {
  margin: -0.75rem;
}

.-m-4 {
  margin: -1rem;
}

.-m-6 {
  margin: -1.5rem;
}

.-m-8 {
  margin: -2rem;
}

.-m-px {
  margin: -1px;
}

.-my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.-mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.-my-1 {
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
}

.-mx-1 {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

.-my-2 {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.-mx-2 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.-my-3 {
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
}

.-mx-3 {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.-my-4 {
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.-mx-4 {
  margin-left: -1rem;
  margin-right: -1rem;
}

.-my-6 {
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}

.-mx-6 {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.-my-8 {
  margin-top: -2rem;
  margin-bottom: -2rem;
}

.-mx-8 {
  margin-left: -2rem;
  margin-right: -2rem;
}

.-my-px {
  margin-top: -1px;
  margin-bottom: -1px;
}

.-mx-px {
  margin-left: -1px;
  margin-right: -1px;
}

.-mt-0 {
  margin-top: 0;
}

.-mr-0 {
  margin-right: 0;
}

.-mb-0 {
  margin-bottom: 0;
}

.-ml-0 {
  margin-left: 0;
}

.-mt-1 {
  margin-top: -0.25rem;
}

.-mr-1 {
  margin-right: -0.25rem;
}

.-mb-1 {
  margin-bottom: -0.25rem;
}

.-ml-1 {
  margin-left: -0.25rem;
}

.-mt-2 {
  margin-top: -0.5rem;
}

.-mr-2 {
  margin-right: -0.5rem;
}

.-mb-2 {
  margin-bottom: -0.5rem;
}

.-ml-2 {
  margin-left: -0.5rem;
}

.-mt-3 {
  margin-top: -0.75rem;
}

.-mr-3 {
  margin-right: -0.75rem;
}

.-mb-3 {
  margin-bottom: -0.75rem;
}

.-ml-3 {
  margin-left: -0.75rem;
}

.-mt-4 {
  margin-top: -1rem;
}

.-mr-4 {
  margin-right: -1rem;
}

.-mb-4 {
  margin-bottom: -1rem;
}

.-ml-4 {
  margin-left: -1rem;
}

.-mt-6 {
  margin-top: -1.5rem;
}

.-mr-6 {
  margin-right: -1.5rem;
}

.-mb-6 {
  margin-bottom: -1.5rem;
}

.-ml-6 {
  margin-left: -1.5rem;
}

.-mt-8 {
  margin-top: -2rem;
}

.-mr-8 {
  margin-right: -2rem;
}

.-mb-8 {
  margin-bottom: -2rem;
}

.-ml-8 {
  margin-left: -2rem;
}

.-mt-px {
  margin-top: -1px;
}

.-mr-px {
  margin-right: -1px;
}

.-mb-px {
  margin-bottom: -1px;
}

.-ml-px {
  margin-left: -1px;
}

.opacity-0 {
  opacity: 0;
}

.opacity-25 {
  opacity: .25;
}

.opacity-50 {
  opacity: .5;
}

.opacity-75 {
  opacity: .75;
}

.opacity-100 {
  opacity: 1;
}

.outline-none {
  outline: 0;
}

.focus\:outline-none:focus {
  outline: 0;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-visible {
  overflow-x: visible;
}

.overflow-y-visible {
  overflow-y: visible;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

.scrolling-auto {
  -webkit-overflow-scrolling: auto;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: .25rem;
}

.p-2 {
  padding: .5rem;
}

.p-3 {
  padding: .75rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-8 {
  padding: 2rem;
}

.p-px {
  padding: 1px;
}

.p-search {
  padding: 2.75rem;
}

.p-view {
  padding: 3.125rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.px-1 {
  padding-left: .25rem;
  padding-right: .25rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.px-3 {
  padding-left: .75rem;
  padding-right: .75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-px {
  padding-top: 1px;
  padding-bottom: 1px;
}

.px-px {
  padding-left: 1px;
  padding-right: 1px;
}

.py-search {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

.px-search {
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}

.py-view {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.px-view {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pt-1 {
  padding-top: .25rem;
}

.pr-1 {
  padding-right: .25rem;
}

.pb-1 {
  padding-bottom: .25rem;
}

.pl-1 {
  padding-left: .25rem;
}

.pt-2 {
  padding-top: .5rem;
}

.pr-2 {
  padding-right: .5rem;
}

.pb-2 {
  padding-bottom: .5rem;
}

.pl-2 {
  padding-left: .5rem;
}

.pt-3 {
  padding-top: .75rem;
}

.pr-3 {
  padding-right: .75rem;
}

.pb-3 {
  padding-bottom: .75rem;
}

.pl-3 {
  padding-left: .75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pt-px {
  padding-top: 1px;
}

.pr-px {
  padding-right: 1px;
}

.pb-px {
  padding-bottom: 1px;
}

.pl-px {
  padding-left: 1px;
}

.pt-search {
  padding-top: 2.75rem;
}

.pr-search {
  padding-right: 2.75rem;
}

.pb-search {
  padding-bottom: 2.75rem;
}

.pl-search {
  padding-left: 2.75rem;
}

.pt-view {
  padding-top: 3.125rem;
}

.pr-view {
  padding-right: 3.125rem;
}

.pb-view {
  padding-bottom: 3.125rem;
}

.pl-view {
  padding-left: 3.125rem;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.pin-none {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}

.pin {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pin-y {
  top: 0;
  bottom: 0;
}

.pin-x {
  right: 0;
  left: 0;
}

.pin-t {
  top: 0;
}

.pin-r {
  right: 0;
}

.pin-b {
  bottom: 0;
}

.pin-l {
  left: 0;
}

.resize-none {
  resize: none;
}

.resize-y {
  resize: vertical;
}

.resize-x {
  resize: horizontal;
}

.resize {
  resize: both;
}

.shadow {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
}

.shadow-md {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.shadow-lg {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.shadow-inner {
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .06);
          box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .06);
}

.shadow-outline {
  -webkit-box-shadow: 0 0 0 3px var(--primary-50);
          box-shadow: 0 0 0 3px var(--primary-50);
}

.shadow-none {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hover\:shadow:hover {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
}

.hover\:shadow-md:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.hover\:shadow-lg:hover {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.hover\:shadow-inner:hover {
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .06);
          box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .06);
}

.hover\:shadow-outline:hover {
  -webkit-box-shadow: 0 0 0 3px var(--primary-50);
          box-shadow: 0 0 0 3px var(--primary-50);
}

.hover\:shadow-none:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.focus\:shadow:focus {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
}

.focus\:shadow-md:focus {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.focus\:shadow-lg:focus {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.focus\:shadow-inner:focus {
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .06);
          box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .06);
}

.focus\:shadow-outline:focus {
  -webkit-box-shadow: 0 0 0 3px var(--primary-50);
          box-shadow: 0 0 0 3px var(--primary-50);
}

.focus\:shadow-none:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.active\:shadow:active {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
}

.active\:shadow-md:active {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.active\:shadow-lg:active {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.active\:shadow-inner:active {
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .06);
          box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .06);
}

.active\:shadow-outline:active {
  -webkit-box-shadow: 0 0 0 3px var(--primary-50);
          box-shadow: 0 0 0 3px var(--primary-50);
}

.active\:shadow-none:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fill-20 {
  fill: var(--20);
}

.fill-30 {
  fill: var(--30);
}

.fill-40 {
  fill: var(--40);
}

.fill-50 {
  fill: var(--50);
}

.fill-60 {
  fill: var(--60);
}

.fill-70 {
  fill: var(--70);
}

.fill-80 {
  fill: var(--80);
}

.fill-90 {
  fill: var(--90);
}

.fill-current {
  fill: currentColor;
}

.fill-black {
  fill: var(--black);
}

.fill-transparent {
  fill: var(--transparent);
}

.fill-white {
  fill: var(--white);
}

.fill-white-50\% {
  fill: var(--white-50);
}

.fill-primary {
  fill: var(--primary);
}

.fill-primary-dark {
  fill: var(--primary-dark);
}

.fill-primary-70\% {
  fill: var(--primary-70);
}

.fill-primary-50\% {
  fill: var(--primary-50);
}

.fill-primary-30\% {
  fill: var(--primary-30);
}

.fill-primary-10\% {
  fill: var(--primary-10);
}

.fill-sidebar-icon {
  fill: var(--sidebar-icon);
}

.fill-logo {
  fill: var(--logo);
}

.fill-info {
  fill: var(--info);
}

.fill-danger {
  fill: var(--danger);
}

.fill-warning {
  fill: var(--warning);
}

.fill-success {
  fill: var(--success);
}

.fill-90-half {
  fill: var(--90-half);
}

.fill-warning-light {
  fill: var(--warning-light);
}

.fill-warning-dark {
  fill: var(--warning-dark);
}

.fill-success-light {
  fill: var(--success-light);
}

.fill-success-dark {
  fill: var(--success-dark);
}

.fill-danger-light {
  fill: var(--danger-light);
}

.fill-danger-dark {
  fill: var(--danger-dark);
}

.fill-info-light {
  fill: var(--info-light);
}

.fill-info-dark {
  fill: var(--info-dark);
}

.stroke-current {
  stroke: currentColor;
}

.table-auto {
  table-layout: auto;
}

.table-fixed {
  table-layout: fixed;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-20 {
  color: var(--20);
}

.text-30 {
  color: var(--30);
}

.text-40 {
  color: var(--40);
}

.text-50 {
  color: var(--50);
}

.text-60 {
  color: var(--60);
}

.text-70 {
  color: var(--70);
}

.text-80 {
  color: var(--80);
}

.text-90 {
  color: var(--90);
}

.text-black {
  color: var(--black);
}

.text-transparent {
  color: var(--transparent);
}

.text-white {
  color: var(--white);
}

.text-white-50\% {
  color: var(--white-50);
}

.text-primary {
  color: var(--primary);
}

.text-primary-dark {
  color: var(--primary-dark);
}

.text-primary-70\% {
  color: var(--primary-70);
}

.text-primary-50\% {
  color: var(--primary-50);
}

.text-primary-30\% {
  color: var(--primary-30);
}

.text-primary-10\% {
  color: var(--primary-10);
}

.text-sidebar-icon {
  color: var(--sidebar-icon);
}

.text-logo {
  color: var(--logo);
}

.text-info {
  color: var(--info);
}

.text-danger {
  color: var(--danger);
}

.text-warning {
  color: var(--warning);
}

.text-success {
  color: var(--success);
}

.text-90-half {
  color: var(--90-half);
}

.text-warning-light {
  color: var(--warning-light);
}

.text-warning-dark {
  color: var(--warning-dark);
}

.text-success-light {
  color: var(--success-light);
}

.text-success-dark {
  color: var(--success-dark);
}

.text-danger-light {
  color: var(--danger-light);
}

.text-danger-dark {
  color: var(--danger-dark);
}

.text-info-light {
  color: var(--info-light);
}

.text-info-dark {
  color: var(--info-dark);
}

.hover\:text-20:hover {
  color: var(--20);
}

.hover\:text-30:hover {
  color: var(--30);
}

.hover\:text-40:hover {
  color: var(--40);
}

.hover\:text-50:hover {
  color: var(--50);
}

.hover\:text-60:hover {
  color: var(--60);
}

.hover\:text-70:hover {
  color: var(--70);
}

.hover\:text-80:hover {
  color: var(--80);
}

.hover\:text-90:hover {
  color: var(--90);
}

.hover\:text-black:hover {
  color: var(--black);
}

.hover\:text-transparent:hover {
  color: var(--transparent);
}

.hover\:text-white:hover {
  color: var(--white);
}

.hover\:text-white-50\%:hover {
  color: var(--white-50);
}

.hover\:text-primary:hover {
  color: var(--primary);
}

.hover\:text-primary-dark:hover {
  color: var(--primary-dark);
}

.hover\:text-primary-70\%:hover {
  color: var(--primary-70);
}

.hover\:text-primary-50\%:hover {
  color: var(--primary-50);
}

.hover\:text-primary-30\%:hover {
  color: var(--primary-30);
}

.hover\:text-primary-10\%:hover {
  color: var(--primary-10);
}

.hover\:text-sidebar-icon:hover {
  color: var(--sidebar-icon);
}

.hover\:text-logo:hover {
  color: var(--logo);
}

.hover\:text-info:hover {
  color: var(--info);
}

.hover\:text-danger:hover {
  color: var(--danger);
}

.hover\:text-warning:hover {
  color: var(--warning);
}

.hover\:text-success:hover {
  color: var(--success);
}

.hover\:text-90-half:hover {
  color: var(--90-half);
}

.hover\:text-warning-light:hover {
  color: var(--warning-light);
}

.hover\:text-warning-dark:hover {
  color: var(--warning-dark);
}

.hover\:text-success-light:hover {
  color: var(--success-light);
}

.hover\:text-success-dark:hover {
  color: var(--success-dark);
}

.hover\:text-danger-light:hover {
  color: var(--danger-light);
}

.hover\:text-danger-dark:hover {
  color: var(--danger-dark);
}

.hover\:text-info-light:hover {
  color: var(--info-light);
}

.hover\:text-info-dark:hover {
  color: var(--info-dark);
}

.text-xs {
  font-size: .75rem;
}

.text-sm {
  font-size: .875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-5xl {
  font-size: 3rem;
}

.italic {
  font-style: italic;
}

.roman {
  font-style: normal;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.no-underline {
  text-decoration: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.hover\:italic:hover {
  font-style: italic;
}

.hover\:roman:hover {
  font-style: normal;
}

.hover\:uppercase:hover {
  text-transform: uppercase;
}

.hover\:lowercase:hover {
  text-transform: lowercase;
}

.hover\:capitalize:hover {
  text-transform: capitalize;
}

.hover\:normal-case:hover {
  text-transform: none;
}

.hover\:underline:hover {
  text-decoration: underline;
}

.hover\:line-through:hover {
  text-decoration: line-through;
}

.hover\:no-underline:hover {
  text-decoration: none;
}

.hover\:antialiased:hover {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hover\:subpixel-antialiased:hover {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.tracking-tight {
  letter-spacing: -0.05em;
}

.tracking-normal {
  letter-spacing: 0;
}

.tracking-wide {
  letter-spacing: .05em;
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select-text {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.align-baseline {
  vertical-align: baseline;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.align-text-top {
  vertical-align: text-top;
}

.align-text-bottom {
  vertical-align: text-bottom;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.whitespace-normal {
  white-space: normal;
}

.whitespace-no-wrap {
  white-space: nowrap;
}

.whitespace-pre {
  white-space: pre;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.break-words {
  word-wrap: break-word;
}

.break-normal {
  word-wrap: normal;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.w-2 {
  width: .5rem;
}

.w-3 {
  width: .75rem;
}

.w-4 {
  width: 1rem;
}

.w-8 {
  width: 2rem;
}

.w-9 {
  width: 2.25rem;
}

.w-11 {
  width: 2.75rem;
}

.w-12 {
  width: 3rem;
}

.w-16 {
  width: 4rem;
}

.w-40 {
  width: 10rem;
}

.w-48 {
  width: 12rem;
}

.w-auto {
  width: auto;
}

.w-px {
  width: 1px;
}

.w-sidebar {
  width: 13.75rem;
}

.w-editor-icon {
  width: .95rem;
}

.w-search {
  width: 18.75rem;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.33333%;
}

.w-2\/3 {
  width: 66.66667%;
}

.w-1\/4 {
  width: 25%;
}

.w-3\/4 {
  width: 75%;
}

.w-1\/5 {
  width: 20%;
}

.w-2\/5 {
  width: 40%;
}

.w-3\/5 {
  width: 60%;
}

.w-4\/5 {
  width: 80%;
}

.w-1\/6 {
  width: 16.66667%;
}

.w-5\/6 {
  width: 83.33333%;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.w-error {
  width: 65rem;
}

.w-action {
  width: 460px;
}

.w-action-fields {
  width: 767px;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-auto {
  z-index: auto;
}
